In [178]:
list1=["kartiki",99.7,"aarti"]

In [179]:
print(list1)

['kartiki', 99.7, 'aarti']

In [180]:
print(type(list1))

<class 'list'>

In [181]:
list2=["abc","xyx","lll","dhdhd"]
print(list2)

['abc', 'xyx', 'lll', 'dhdhd']

In [182]:
for x in list1:
    print(x)

kartiki
99.7
aarti

In [183]:
i=0
while(i<len(list1)):
    print(list1[i])
    i+=1

kartiki
99.7
aarti

In [184]:
fruits=["watermelon","apple","banana"]
print(fruits)

['watermelon', 'apple', 'banana']

In [185]:
print(fruits[1])

apple

In [186]:
print(fruits[-1])

banana

In [187]:
print(fruits[1:2])

['apple']

In [188]:
print(fruits[:2])

['watermelon', 'apple']

In [189]:
print(fruits[1:])

['apple', 'banana']

In [190]:
#change the list values
fruits[1]="KIWI"

fruits

['watermelon', 'KIWI', 'banana']

In [191]:
#add value into the list: append function is used to add item at the end of the list
fruits.append("banana")
print(fruits)

['watermelon', 'KIWI', 'banana', 'banana']

In [192]:
# insert(): insert function is used to insert an item at specified location
fruits.insert(1,"chickoo")
print(fruits)

['watermelon', 'chickoo', 'KIWI', 'banana', 'banana']

In [193]:
# extend : it appends items from another list into the current list or add or append list items at the end of the list on which we are applying this extend function .

veg=["tomato","onion"]
fruits.extend(veg)
fruits

['watermelon', 'chickoo', 'KIWI', 'banana', 'banana', 'tomato', 'onion']

In [194]:
#delete  values:remove() : removes the specified elements from the list
fruits.remove("banana")
fruits

['watermelon', 'chickoo', 'KIWI', 'banana', 'tomato', 'onion']

In [195]:
# pop= removes the items from specified index: and if index is not mentioned then it will remove the last item of the list
fruits.pop(1)
fruits

['watermelon', 'KIWI', 'banana', 'tomato', 'onion']

In [196]:
# to clear or delete the list del() or clear () function is used
del()

In [197]:
fruits

['watermelon', 'KIWI', 'banana', 'tomato', 'onion']

In [198]:
#del(fruits)

In [199]:
#fruits

In [200]:
veg=["tomato","onion","potato"]

In [201]:
veg

['tomato', 'onion', 'potato']

In [202]:
#sort() => sorting the list in ascending order
veg.sort()
veg

['onion', 'potato', 'tomato']

In [203]:
# soert(reverse=True)=> sorting list into the descending order
veg.sort(reverse=True)

In [204]:
veg

['tomato', 'potato', 'onion']

In [205]:
# reverses string in ascending order
veg.reverse()

In [206]:
veg

['onion', 'potato', 'tomato']

In [207]:
veg1=veg.copy()

In [208]:
veg1

['onion', 'potato', 'tomato']

In [209]:
#join function==>combines two lists
veg2=veg+veg1
veg2

['onion', 'potato', 'tomato', 'onion', 'potato', 'tomato']

#TUPLES: tuples are used to store multiple items in a single variable
#features: 1) oredered 2) unchangeable 3) allows duplicate
1)ordered- items have defined order 
2) unchangeable - can't change or add items from the tuples after it has been created

In [210]:
city=("Pune","Mumbai","Satara")
city

('Pune', 'Mumbai', 'Satara')

In [211]:
type(city)

tuple

In [212]:
len(city)

3

In [213]:
print(city[1])

Mumbai

In [214]:
city[1:3]

('Mumbai', 'Satara')

In [215]:
for x in city:
    print(x)

Pune
Mumbai
Satara

In [216]:
city[-1]

'Satara'

***********************workaround tech**********************************
  1)convert tuple to list
  2) apply changes to list
  3)convert list to tuple again

In [217]:
flower=("rose","Jasmine","Lotus")
flower

('rose', 'Jasmine', 'Lotus')

In [218]:
f=list(flower)

In [219]:
f[1]="aster"

In [220]:
flower=tuple(f)

In [221]:
flower

('rose', 'aster', 'Lotus')

******************unpacking tuple*********************
packing==> when we are creating tuple and assigning the values to it this is called as packing a tuple 
unpacking==> it is allowed to extract these values into a variable this is called as unpacking a tuple

In [222]:
#packing a tuple
flower=("rose","Jasmine","Lotus")
flower

('rose', 'Jasmine', 'Lotus')

In [223]:
#unpacking a tuple
(a,b,c)=flower

In [224]:
print(a)
print(b)
print(c)

rose
Jasmine
Lotus

In [225]:
num=(1,2,3)
new=flower+num
new

('rose', 'Jasmine', 'Lotus', 1, 2, 3)

%%%%%%%%%%%%%%%%%%%%%% SET  %%%%%%%%%%%%%%%%%%%%%%%%%%%%
using set we can store multiple items in single variable
1)unordered =>items in a set don't have defined order ,items in a set can apprear in different order everytime you used it 
2)unidexed-that's why we cannot refer it using index
3)unchangeable- cannot change once set is created but we can add elements only,
4)duplicates not allowed

In [226]:
color={"red","pink","yellow","white"}
color

{'pink', 'red', 'white', 'yellow'}

In [227]:
type(set)

type

In [228]:
color

{'pink', 'red', 'white', 'yellow'}

In [229]:
len(color)

4

In [230]:
print(color)

{'white', 'yellow', 'pink', 'red'}

In [231]:
for c in color:
    print(c)

white
yellow
pink
red

In [232]:
#add
color.add("BabyPink")

In [233]:
color

{'BabyPink', 'pink', 'red', 'white', 'yellow'}

In [234]:
print(color)

{'BabyPink', 'yellow', 'pink', 'white', 'red'}

In [235]:
#appending/update
num={6,4,9}
color.update(num)

In [236]:
color

{4, 6, 9, 'BabyPink', 'pink', 'red', 'white', 'yellow'}

In [237]:
print(color)

{4, 6, 'BabyPink', 9, 'yellow', 'pink', 'white', 'red'}

In [238]:
#removing items
color.remove("BabyPink")

color

In [239]:
color

{4, 6, 9, 'pink', 'red', 'white', 'yellow'}

In [240]:
color.discard("red")
color

{4, 6, 9, 'pink', 'white', 'yellow'}

In [241]:
#union()- create a new set with combining multiple sets

In [242]:
set1=color.union(num)

In [243]:
set1

{4, 6, 9, 'pink', 'white', 'yellow'}

In [244]:
num=[2,3,5,6]
sum=0
for x in num:
    sum+=x
print(sum)

16

In [249]:
color={"red","blue","green"}
a=str(input("Enter color for search:"))
if (a in color):
    print("value found !!!!!")
else:
    print("value not found")

Enter color for search:red
value found !!!!!

In [250]:
color={"red","blue","green"}
a=input("Enter color for search:")
flg=False
for x in color:
    if (x==a):
        flg=True
if (flg==True):
    print("Value Found!!")
else:
    print("Value not Found!")

Enter color for search:blue
Value Found!!

*****************************DICTIONARY********************************
Used for mapping data types
used for storing multiples values in single variable
allows us to store the values in key value pair
is a collection which is ordered ,changeable,not allowed duplicates

In [251]:
dict1={"fruits":["apple","kiwi"],"color":["red","pink"]}

In [252]:
dict1

{'fruits': ['apple', 'kiwi'], 'color': ['red', 'pink']}

In [255]:
car={
    "model":"Maruti",
    "year":2000,
    "price":1900000
}
print(car)
print(type(car))
print(len(car))

{'model': 'Maruti', 'year': 2000, 'price': 1900000}
<class 'dict'>
3

In [258]:
x=car["model"]
x

'Maruti'

In [259]:
y=car.get("year")
y

2000

In [261]:
#keys is the method which will return the list of all keys in the dictionary
v=car.keys()
v

dict_keys(['model', 'year', 'price'])

In [265]:
# values is the method which will return the list of all values in the dictonary
w=car.values()
w

dict_values(['Maruti', 2000, 1900000])

In [264]:
m=car.items()
m

dict_items([('model', 'Maruti'), ('year', 2000), ('price', 1900000)])

In [266]:
car["color"]="red"

In [267]:
car

{'model': 'Maruti', 'year': 2000, 'price': 1900000, 'color': 'red'}

In [268]:
m=car.items()
m

dict_items([('model', 'Maruti'), ('year', 2000), ('price', 1900000), ('color', 'red')])

In [272]:
for d in car:
    print(d)
    print(car[d])

model
Maruti
year
2000
price
1900000
color
red

In [274]:
school= {
    "name":"abc",
    "address":"pune",
    "year":1996
}
school

{'name': 'abc', 'address': 'pune', 'year': 1996}

In [285]:
school["year"]=2000

In [276]:
school

{'name': 'abc', 'address': 'pune', 'year': 2000}

In [277]:
#change/update
school.update({"name":"xyz"})

In [284]:
school

{'name': 'xyz', 'address': 'pune', 'phone': 99999999}

In [279]:
#ADD DICTIONARY ITEM
school["phone"]=99999999
school

In [286]:
# REMOVE ITEM
school.pop("year")
school

{'name': 'xyz', 'address': 'pune', 'phone': 99999999}

In [287]:
dict1.clear()

In [288]:
dict1

{}

In [290]:
sc=school.copy()
sc

{'name': 'xyz', 'address': 'pune', 'phone': 99999999}